[submodule "third_party/OpenPlaceRecognition"]
	path = third_party/OpenPlaceRecognition
	url = https://github.com/alexmelekhin/OpenPlaceRecognition.git
[submodule "third_party/AnyLoc"]
	path = third_party/AnyLoc
	url = https://github.com/AnyLoc/AnyLoc.git
